{% extends "layout.html" %}

{% block content %}
<div style="height: px;width: 100%"></div>
<div class="p-4 pt-2 container"
    {{U}}
    <div class="h-75" style="overflow: auto;">

        {% for j in juegos%}
        <div class="portada p-2 d-inline-block " style="margin-bottom: 16px;">
            <h4 class="text-light">{{j.nombre}}</h4>
            <span>Precio: ${{j.precio}}.00</span>
            <img src="{{j.url}}" class="w-100 rounded" alt="NoImagen">

            
        </div>
        
        {% endfor %}

    </div>
</div>



{% endblock content %}