{% extends "layout.html" %}

{% block content %}
<div style="height: 2px;width: 100%"></div>
<div class="p-4 pt-2 container"
style="background-image: url(../static/img/imagen1.jpg);height:100%; width: 100%;background-size: 100% 100%;">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-ma1IMyKx5o+JSQBy5wt5n/JmVoZPlz8hbzu+mXkNOIdG5QcHY+o5BkHtFnMOxM0nSPj9eIdQUbFJtESOF0tP8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <div style="margin-top: 300px;">
        <div class="pt-4 d-flex margin-right back50">
            <h5 class="text-white ">
                <p>
                    Empresa: Gamers<br> Situacion actual: En vigencia<br> 
                    Venta de juegos de manera fisica y virtual.<br>
                    Con tiendas en todo el mundo<br>
                    We are Gamers
                </p>
            </h5>
        </div>
    </div>
</div>

<footer class="bg-light p-3">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="#">
                    <i class="fab fa-facebook fa-2x mx-3"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter fa-2x mx-3"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram fa-2x mx-3"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

{% endblock content %}